* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*rolagem scroll*/

/* Para o Chrome, Safari e Edge */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 12px; /* Altura da barra de rolagem (para barras horizontais) */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da parte deslizante da barra de rolagem */
    border-radius: 15px; /* Bordas arredondadas da parte deslizante */
    border: 1px solid #a3a3a3; /* Cor da borda ao redor da parte deslizante */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor da parte deslizante quando o cursor está sobre ela */
}

::-webkit-scrollbar-track {
    background: #616161; /* Cor de fundo da área de rolagem */
    border-radius: 3px; /* Bordas arredondadas da área de rolagem */
}

::-webkit-scrollbar-track:hover {
    background: #ddd; /* Cor de fundo quando o cursor está sobre a área de rolagem */
    width: 10px;
}



/*Navegação*/

nav {
    position: fixed;
    z-index: 1;
    background-color: #616161;
    display: flex;
    padding: 10px;
    width: 100%;
}

nav > h1 {
    padding-left: 20px;
    color: #f5e2a9;
}

#navegação {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding-right: 30px;
}

.lista {
    padding-right: 25px;
    font-size: 16px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.lista a {
    text-decoration: none;
    color: #f5e2a9;
}

.lista:hover {
    transform: scale(1.05) translateZ(0);
    opacity: 0.9;
    border-bottom: 1px solid #f5e2a9;
    padding-right: 27px;
}

/*  inicio pagina  */

#home {
    background: linear-gradient(to bottom, #494b4d, #494b4d, #494b4d, #00000043);
    padding: 20px;
    height: 600px;
}


#container1 {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 160px;
}

#container1 h1 {
    display: flex;
    color: #f5e2a9;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 450px;
    text-align: left;
    margin: auto;
    border-bottom: 1px solid #f5e2a9;
}

#container1 p {
    width: 500px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.btn {
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #f5e2a9;
    color: #f5e2a9;
    border-radius: 5px;
    width: 150px;
    justify-content: center;
    cursor: pointer;
}


.btn:hover {
    border: 1px solid #c8b271;
    font-weight: bold;
    
}

.icons {
    cursor: pointer;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
}

.icons a {
    color: #f5e2a9;
}

.icons i {
    padding-right: 15px;
    transition: transform 0.3s ease; 
}

.icons i:hover {
    font-size: 45px;
    border-bottom: 1px solid #f5e2a9;
    transform: scale(1.05) translateZ(0);
}


/*Sobre*/

#container2 {
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 140px;
}

#container2 p {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 500px;
    margin: auto;
    padding: 20px;
    text-align: left;
    border-left: 2px solid white;
    transition: transform 0.8s ease;
}

#container2 p.visible {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1.05) translateZ(0);
}




/* habilidades*/

#skills {
    background-color: #494b4d;   
    padding: 20px;
    height: 900px;
}

#skills h2 {
    margin: auto;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    color: #f5e2a9;
    border-bottom: 1px solid #f5e2a9;
}


.container-sks {
    display: flex;
}

.sks {
    width: 200px;
    margin: auto;
    margin-top: 100px;
}

.sks p {
    font-size: 13px;
    margin: auto;
    width: 100%;
}

h3 {
    justify-content: center;
    display: flex;
    margin: auto;
    color: #c8b271;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
}

.sks i {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    color: #f5e2a9;
}

/*Projetos*/

#project {
    padding: 20px;
    height: 600px;
    transition: height 0.3s ease, padding 0.3s ease; /* Transição suave para a altura e padding */
}

/* Estilos para a seção de projetos adicionais */
.extra-projects {
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
}


#project h2 {
    font-size: 25px;
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #f5e2a9;
    border-bottom: 1px solid #f5e2a9;
}


.container4 {
    display: flex;
}

.projetos-container {
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 350px;
    border: 1px solid #f5e2a967;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    perspective: 1500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
    transform-style: preserve-3d;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.projetos-container:hover {
    transform: rotateY(20deg) rotateX(10deg);
    border: 1px solid #f5e2a9;
    zoom: 1.0;
}



.projetos-container img {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 0;
    border-radius: 15px;

}

.projetos-container p {
    margin-top: 10px;
    text-align: center;
}


.projetos-container  i {
    text-align: center;
    font-size: 20px;
}

.btnpro {
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #cfcfcfe1;
    color: white;
    border-radius: 5px;
    width: 150px;
    justify-content: center;
    cursor: pointer;
}


.tecnolog {
    display: flex;
    margin: auto;
    justify-content: center;
}

.tecnolog i {
    padding-top: 5px;
    padding-right: 5px;
    text-align: center;
}

/*contato*/



#contact {
    padding: 20px;
    height: 400px;
}


#container5 h2 {
    text-align: center;
    margin-top: 150px;
    border-top: 1px solid #f5e2a9;
    padding: 20px;
    color: #f5e2a9;
}

/*Rodape*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Certifique-se de que o rodapé esteja acima de outros elementos */
}

#fixfooter {
    position: relative;
    width: 100%;
}

.up, #upa {
    display: flex;
    justify-content: end;
    font-size: 40px;
    padding-right: 30px;
    color: #c8b271;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado do link */
}

.up:hover {
    font-size: 43px;
    color: #907e48;

}